* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Describing the madia query for mobile screen */
@media (max-width: 769px) {
  /* meta styling */

  .social_icons {
    background-color: #000;
    display: none;
  }

  .social_icons ul {
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    margin-left: 950px;
    color: white;
    width: 900px;
  }

  .logo {
    margin: 10px;
    font-size: 10px;
    text-align: center;
  }

  .desktop_capstone {
    display: none;
  }

  .desktop_capstone.active {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 769px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 50000s ease;
  }

  .desktop_capstone.active ul {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 50px 30px;
    transition: all 50000s ease;
  }

  .desktop_capstone.active ul li a {
    text-decoration: none;
    color: #3a4a42;
    font-size: 32px;
    font-weight: 600;
    line-height: 23px;
  }

  .mobile_capstone p {
    padding: 2.5px 15px;
    background-color: black;
  }

  .charset_card p {
    color: white;
    font-weight: 100;
    margin: 10px;
    line-height: 22.3px;
  }

  .author_bar p {
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px;
    align-items: center;
    margin-left: 150px;
  }

  .Exhibition_content p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
  }

  .Exhibition_home p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
    width: 900px;
  }

  .speaker_description p:nth-child(2) {
    color: #f78c89;
  }

  .mobile_capstone.active p:nth-child(1) {
    rotate: 45deg;
    top: 6px;
    position: relative;
  }

  .mobile_capstone.active p:nth-child(2) {
    opacity: 0;
  }

  .mobile_capstone.active p:nth-child(3) {
    rotate: -45deg;
    top: -9px;
    position: relative;
  }

  .codiro {
    color: red;
    display: none;
  }

  .cony {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    border: 8px solid red;
    color: red;
    padding: 10px 10px 10px 10px;
    display: none;
  }

  .mobile_capstone {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: 320px;
    padding: 15px;
  }

  .meta_paragraph_1 {
    color: red;
    margin: 10px;
    margin-right: 200px;
    font-weight: 600;
  }

  .meta_title {
    color: red;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
  }

  .meta_paragraph_2 {
    border: 3px solid white;
    font-size: 15px;
    color: #3a4a42;
    margin: 15px;
    padding: 25px 8px;
    line-height: 30px;
  }

  .meta_date {
    color: #3a4a42;
    text-align: center;
  }

  .meta_mail {
    color: #3a4a42;
    margin: 10px;
    font-size: 15px;
  }

  .meta {
    background: url(assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* charset styling */
  .charset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(assets/images/Screenshot\ 2024-12-04\ 135824.png);
    gap: 30px;
    background-color: aqua;
  }

  .charset_card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282b32;
  }

  .charset_card img {
    height: 90px;
    width: 80px;
  }

  .charset_title {
    color: white;
    text-align: center;
    margin: 20px;
  }

  .charset_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 10px 150px;
  }

  .charset_card h3 {
    color: #ff5438;
    font-size: large;
    margin: 30px;
    align-items: center;
  }

  .charset_menu {
    text-align: center;
    margin: 50px 50px;
    background-color: #ff5438;
    color: white;
    width: 300px;
    height: 60px;
    padding: 20px 10px;
  }

  .request {
    color: white;
    margin: 30px;
    display: none;
  }

  /* speakers styling */
  .speakers {
    display: flex;
  }

  .speaker_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .speakers_card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .speakers_image img {
    width: 100px;
    height: auto;
  }

  .speaker_heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .speakers_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .speakers_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .line_brack {
    background-color: whitesmoke;
    padding: 3px;
    width: 40px;
    border-radius: 3px;
    margin: 8px 8px;
  }

  .speaker_hover {
    width: 300px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin: 50px 10px 20px 40px;
    align-items: center;
    text-align: center;
  }

  .more {
    visibility: hidden;
    position: absolute;
    bottom: 0;
  }

  .open_more {
    visibility: visible;
    top: -10%;
    position: relative;
  }

  .speakers1 {
    display: none;
  }

  .speakers_cards {
    /* display: grid; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: auto auto;
  }

  .speakers_carding {
    /* display: flex; */
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }

  .speaker_image img {
    width: 100px;
    height: auto;
    display: grid;
  }

  .speakers_heading {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
  }

  .speaker_description {
    display: grid;

    /* flex-direction: column; */
    gap: 10px;
  }

  .speaker_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .speaker_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px 640px;
  }

  /* mergal styling */
  .mergal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #414246;
    height: 250px;
  }

  .mergal_title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .mergal_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 40px;
    border-radius: 3px;
    margin: 5px 145px;
  }

  .mergal_card_images {
    width: 512px;
    height: 300px;
  }

  .mergal_image_card,
  .mergal_card_images {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 327px;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  /* Exhibition Styling */

  .Exhibition_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_content h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }

  .Exhibition_home {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_home h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }

  .writing {
    color: #000;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
  }
}

/* TABLET SECTION */

@media (min-width: 769px) and (max-width: 1025px) {
  /* meta styling */

  .social_icons {
    background-color: #000;
    display: none;
  }

  .social_icons ul {
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    margin-left: 950px;
    color: white;
    width: 900px;
  }

  .logo {
    margin: 10px;
    font-size: 10px;
    text-align: center;
  }

  .desktop_capstone {
    display: none;
  }

  .desktop_capstone.active {
    display: flex;
    position: absolute;
    height: 90vh;
    width: 769px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 50000s ease;
  }

  .desktop_capstone.active ul {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    margin: 50px 30px;
    transition: all 50000s ease;
  }

  .desktop_capstone.active ul li a {
    text-decoration: none;
    color: #3a4a42;
    font-size: 32px;
    font-weight: 600;
    line-height: 23px;
  }

  .mobile_capstone p {
    padding: 2.5px 15px;
    background-color: black;
  }

  .charset_bar p {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 10px 150px;
  }

  .charset_card p {
    color: white;
    margin: 10px;
    line-height: 22.3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .author_bar p {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px 350px;
  }

  .Exhibition_content p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
  }

  .Exhibition_home p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
    width: 900px;
  }

  .speakers_description p:nth-child(2) {
    color: #f78c89;
  }

  .mobile_capstone.active p:nth-child(1) {
    rotate: 45deg;
    top: 6px;
    position: relative;
  }

  .mobile_capstone.active p:nth-child(2) {
    opacity: 0;
  }

  .mobile_capstone.active p:nth-child(3) {
    rotate: -45deg;
    top: -9px;
    position: relative;
  }

  .codiro {
    color: red;
    display: none;
  }

  .cony {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    border: 8px solid red;
    color: red;
    padding: 10px 10px 10px 10px;
    display: none;
  }

  .mobile_capstone {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: 800px;
    padding: 10px;
  }

  .meta_paragraph_1 {
    color: red;
    margin: 10px;
    margin-right: 200px;
  }

  .meta_title {
    color: red;
    font-weight: bolder;
    font-size: 30px;
    margin: 20px;
    width: 340px;
  }

  .meta_paragraph_2 {
    border: 5px solid white;
    font-size: 18px;
    color: #3a4a42;
    margin: 15px;
    padding: 25px 8px;
    line-height: 30px;
  }

  .meta_date {
    color: #3a4a42;
    text-align: center;
  }

  .meta_mail {
    color: #3a4a42;
    margin: 10px;
    font-size: 15px;
  }

  .meta {
    background: url(assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* charset styling */
  .charset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(assets/images/Screenshot\ 2024-12-04\ 135824.png);
  }

  .charset_cards {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
    align-items: center;
  }

  .charset_card {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 327px;
    height: 316px;
    gap: 10px;
    background-color: #282b32;
  }

  .charset_card img {
    width: 40%;
    height: auto;
    margin-left: 100px;
  }

  .charset_title {
    color: white;
    text-align: center;
    margin: 20px;
  }

  .charset_card h3 {
    color: #ff5438;
    font-size: large;
    margin: 30px;
    align-items: center;
  }

  .charset_menu {
    text-align: center;
    margin: 50px 50px;
    background-color: #ff5438;
    color: white;
    width: 300px;
    height: 60px;
    padding: 20px 10px;
  }

  .request {
    color: white;
    margin: 30px;
    display: none;
  }

  /* speakers styling */
  .speaker_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: auto auto;
  }

  .speakers_card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .speakers_image img {
    width: 100px;
    height: auto;
  }

  .speaker_heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }

  .speakers_description {
    flex-direction: column;
    gap: 10px;
  }

  .speakers_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .line_brack {
    background-color: whitesmoke;
    border-radius: 3px;
  }

  .speaker_hover {
    width: 300px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin: 50px 10px 20px 250px;
    align-items: center;
    text-align: center;
  }

  .more {
    visibility: hidden;
    position: absolute;
    bottom: 0;
  }

  .open_more {
    visibility: visible;
    top: -10%;
    position: relative;
  }

  /* speakers styling */

  .speakers1 {
    display: none;
  }

  .speakers_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .speakers_carding {
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }

  .speaker_image img {
    width: 100px;
    height: auto;
    display: flex;
  }

  .speakers_heading {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
  }

  .speaker_description {
    display: grid;
    gap: 10px;
  }

  .speaker_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  /* mergal styling */
  .mergal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #414246;
    height: 250px;
    width: 800px;
  }

  .mergal_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 40px;
    font-weight: bold;
    margin: 3px 90px;
    text-align: center;
  }

  .mergal_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 40px;
    border-radius: 3px;
    margin: 5px 145px;
  }

  .mergal_card_images {
    width: 412px;
    height: 300px;
  }

  .mergal_image_card,
  .mergal_card_images {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 327px;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  /* Exhibition Styling */

  .Exhibition_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_content h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }

  .Exhibition_home {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_home h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }

  .writing {
    color: #000;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
  }
}

/* DESKTOP STYLING */
@media (min-width: 1025px) {
  /* mete styling */

  .logo {
    font-size: 10px;
    margin-left: 20px;
  }

  .desktop_capstone {
    display: grid;
  }

  .desktop_capstone ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    margin-left: 30%;
    padding: 10px 10px 10px 10px;
    margin-top: -80px;
  }

  .desktop_capstone ul li a {
    text-decoration: none;
    color: #3a4a42;
    font-size: 20px;
    font-weight: 900;
  }

  .social_icons {
    background-color: #000;
  }

  .social_icons ul {
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    margin-left: 80%;
    color: white;
    width: 900px;
  }

  .condi {
    color: #f07f7e;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
  }

  .condu {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    border: 8px solid red;
    color: red;
    padding: 10px 10px 10px 10px;
  }

  .meta_paragraph_1 {
    color: red;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    margin-right: 700px;
  }

  .meta_title {
    color: red;
    font-size: 40px;
    margin: 15px;
    margin-right: 500px;
    width: 450px;
  }

  .meta_paragraph_2 {
    border: 5px solid white;
    font-size: 18px;
    color: #000;
    margin: 15px;
    padding: 28px 8px;
    align-items: center;
    line-height: 30px;
    width: 590px;
  }

  .meta_date {
    color: #3a4a42;
  }

  .meta_mail {
    color: #3a4a42;
    margin: 10px;
    font-size: 15px;
  }

  .meta {
    background: url(./assets/images/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 55px 0;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* charset styling */
  .charset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./assets/images/Screenshot\ 2024-12-04\ 135824.png);
  }

  .charset_cards {
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .charset_card {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 260px;
    height: 350px;
    gap: 5px;
    background-color: #282b32;
  }

  .charset_card img {
    width: 40%;
    height: auto;
    margin-left: 70px;
  }

  .charset_title {
    color: white;
    text-align: center;
    margin: 20px;
  }

  .charset_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px 350px;
  }

  .charset_card h3 {
    color: #ff5438;
    font-size: large;
    margin: 30px;
    align-items: center;
    margin-top: 100px;
  }

  .charset_card p {
    color: white;
    margin: 10px;
    line-height: 22.3px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .charset_menu {
    text-align: center;
    margin: 30px;
    background-color: #ff5438;
    color: white;
    width: 300px;
    height: 60px;
    padding: 20px 10px;
    display: none;
  }

  .request {
    color: white;
    margin: 30px;
    text-decoration: underline;
  }

  /* speakers styling */

  .speaker {
    display: none;
  }

  .speaker_cards {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: auto auto;
  }

  .speakers_card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }

  .speakers_image img {
    width: 100px;
    height: auto;
    display: grid;
  }

  .speaker_heading {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
  }

  .speakers_description {
    display: grid;
    flex-direction: column;
    gap: 10px;
  }

  .speakers_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .speakers_bar p {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px 640px;
  }

  /* speakers styling */
  .speakers {
    display: grid;
  }

  .speakers_cards {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-template-columns: auto auto;
  }

  .speakers_carding {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
  }

  .speaker_image img {
    width: 100px;
    height: auto;
    display: grid;
  }

  .speakers_heading {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 20px;
  }

  .speaker_description {
    display: grid;
    gap: 10px;
  }

  .speaker_description h3 {
    font-size: 20px;
    font-weight: bold;
  }

  .speaker_bar p {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 50px;
    border-radius: 3px;
    margin: 20px 800px;
  }

  .Exhibition_content p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
  }

  .Exhibition_home p {
    display: flex;
    color: #3b3e45;
    font-weight: 500;
    font-size: 20px;
    width: 900px;
  }

  .speaker_description p:nth-child(2) {
    color: #f78c89;
  }

  .speaker_descriptionp:nth-child(1) {
    color: #000;
    font-weight: 500;
  }

  .line_brack {
    background-color: whitesmoke;
    padding: 3px;
    width: 40px;
    border-radius: 3px;
    margin: 8px 8px;
  }

  .speaker_hover {
    width: 300px;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    margin: 50px 500px;
    display: none;
  }

  /* mergal styling */
  .mergal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #414246;
    margin: 20px;
  }

  .mergal_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-size: 40px;
    font-weight: bold;
    margin: 3px 90px;
    text-align: center;
  }

  .mergal_bar {
    justify-content: center;
    background-color: #a04038;
    padding: 3px 15px;
    width: 40px;
    border-radius: 3px;
    margin: 5px 145px;
  }

  .mergal_card_images {
    width: 812px;
    height: 200px;
    margin: 400px;
  }

  .mergal_image_card,
  .mergal_card_images {
    text-decoration: none;
    display: flex;
    list-style: none;
    width: 327px;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    gap: 50px;
    margin: 10px 0;
  }

  /* Exhibition Styling */

  .Exhibition_home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_home h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }

  .writing {
    color: #000;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
  }

  .Exhibition_content {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 20px;
  }

  .Exhibition_content h3 {
    font-size: 20px;
    font-weight: 900;
    color: #3a4a42;
  }
}
